<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

    <xacro:include filename="common_properties.xacro"/>

    <xacro:include filename="mobile_base.xacro"/>

    <xacro:include filename="lidar.xacro"/>

    <xacro:include filename="camera.xacro"/>

    <xacro:include filename="gazebo_control.xacro"/>

    <gazebo>
        <plugin filename="ignition-gazebo-pose-publisher-system" name="ignition::gazebo::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>100</static_update_frequency>
       </plugin>
    </gazebo>

</robot>